* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

a {
    text-decoration: none;
    /* 取消文字修飾 */
}

article,
section,
aside,
address,
nav,
header,
footer,
img {
    display: block;
}

img {
    border: none;
}

li {
    list-style: none;
}


html {
    background-color: #292929;
    width: 428px;
    padding-top: 20px;
    padding-left: 3%;
    padding-right: 3%;
}

.topbar {
    display: flex;
    height: 51px;
    justify-content: space-around;
}

.topbar input {
    width: 296px;
    height: 24px;
    border-radius: 10px;
    background-color: #292929;
    border-color: rgb(255, 255, 255);
    text-indent: 30px;
    line-height: 51px;
    box-sizing: border-box;
}

.menu {
    display: flex;
    margin: auto;
    margin-left: 3%;
    box-sizing: border-box;

}

.search {
    margin: auto;
    box-sizing: border-box;
}

.menuicon {
    display: flex;
    width: 29px;
    height: 14px;
    justify-content: space-around;
}

.profile {
    margin: auto;
    margin-right: 5%;
}

.banner {
    box-sizing: border-box;
    margin-bottom: 3%;
}

.GFi_menu {
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: space-around;
    border-bottom: #9c9b9b99 solid 1px;
    padding-bottom: 1%;
    margin-bottom: 3%;
}

.menu_Ibendo {
    font-size: 16px;
    font-weight: 876;
    color: #FE7F7F;
    border-bottom: #FE7F7F solid 1px;
}

.index_ {
    width: 100%;
    display: flex;

    overflow-x: auto;
}

.index_::-webkit-scrollbar {
    width: 1px;
}

.indextitle {
    font-size: 20px;
    color: aliceblue;
    font-weight: 876;
    font-size: 20px;
    margin-bottom: 3%;
}

.index_newNFTs {
    width: 280px;
    color: aliceblue;
    margin-bottom: 6%;
    margin-right: 6%;

}

.newNFTsImg {
    margin-bottom: 3%;
}

.newNFTsTitle {
    margin-bottom: 3%;
    font-size: 20px;
}

.newNFTsContent {
    margin-bottom: 3%;
    width: 280px;
}