    * {

        margin: 0;
        padding: 0;
    }


    a {
        text-decoration: none;
        /* 取消文字修飾 */
    }

    article,
    section,
    aside,
    address,
    nav,
    header,
    footer,
    img {
        display: block;
    }

    img {
        border: none;
    }

    li {
        list-style: none;
    }


    html {
        background-color: #292929;
        width: 428px;
        height: 100%;
        padding-top: 20px;
        padding-left: 3%;
        padding-right: 3%;
        margin: auto;


    }

    body {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        height: 100%;

    }

    .topbar {
        display: flex;
        height: 51px;
        justify-content: space-around;
    }

    .topbar input {
        width: 296px;
        height: 24px;
        border-radius: 10px;
        background-color: #292929;
        border-color: rgb(255, 255, 255);
        text-indent: 30px;
        line-height: 51px;
        box-sizing: border-box;
    }

    .menu {
        display: flex;
        margin: auto;
        margin-left: 3%;
        box-sizing: border-box;

    }

    .search {
        margin: auto;
        box-sizing: border-box;
    }

    .menuicon {
        display: flex;
        width: 29px;
        height: 14px;
        justify-content: space-around;
    }

    .profile {
        margin: auto;
        margin-right: 5%;
    }

    .banner {
        box-sizing: border-box;
        margin-bottom: 3%;
    }

    .GFi_menu {
        display: flex;
        color: rgb(255, 255, 255);
        justify-content: space-around;
        border-bottom: #9c9b9b99 solid 1px;
        padding-bottom: 1%;
        margin-bottom: 3%;
    }

    .menu_Ibendo {
        font-size: 16px;
        font-weight: 876;
        color: #FE7F7F;
        border-bottom: #FE7F7F solid 1px;
    }

    ._index_newNFTs {
        width: 100%;
        display: flex;
        overflow-x: auto;
    }

    ._index_newNFTs::-webkit-scrollbar {
        width: 1px;
    }

    .indextitle {
        font-size: 20px;
        color: aliceblue;
        font-weight: 876;
        font-size: 20px;
        margin-bottom: 3%;
    }

    .index_newNFTs {
        width: 280px;
        color: aliceblue;
        margin-right: 6%;
    }

    .newNFTsImg {
        margin-bottom: 3%;
        border-radius: 6px;
    }

    .newNFTsTitle {
        margin-bottom: 3%;
        font-size: 20px;
    }

    .newNFTsContent {
        margin-bottom: 3%;
        width: 280px;
    }

    ._index_Empower {
        width: 100%;
        display: flex;
        overflow-x: auto;
    }

    ._index_Empower::-webkit-scrollbar {
        width: 1px;
    }

    .index_Empower {
        width: 120px;
        color: aliceblue;
        margin-bottom: 6%;
        margin-right: 3%;
    }

    .EmpowerImg {
        overflow: hidden;
        width: 120px;
        height: 120px;
        margin-bottom: 3%;
        border-radius: 3px;

    }

    .EmpowerTitle {
        font-size: 16px;
    }

    .EmpowerContent {
        font-size: 12px;
    }


    ._index_ibendo {
        margin-right: 2%;
        margin-left: 2%;
        display: flex;
        width: 120%;
        text-align: center;
        color: aliceblue;
        overflow-x: auto;
        overflow: hidden;

    }

    ._index_ibendo::-webkit-scrollbar {
        width: 1px;
    }

    .index_ibendo {
        margin-right: 2%;
        margin-left: 2%;
        display: flex;
        text-align: center;
        color: aliceblue;
        overflow: hidden;
        overflow-x: auto;

    }

    .ibendo_menu {

        background-color: #FE7F7F;
        border: solid 1px whitesmoke;
        border-radius: 13px;
        padding-right: 1.5%;
        padding-left: 1.5%;
        margin-right: 2%;
    }

    ._index_ibendo {
        width: 100%;
        display: flex;
        overflow-x: auto;

    }

    ._index_newNFTs::-webkit-scrollbar {
        width: 1px;
    }

    .index_ibendos {
        margin-right: 1%;
        padding-right: 3%;


    }

    .ibendoTitle {
        width: 150px;
        margin-bottom: 3%;
        font-size: 20px;
        background-color: #4d4d4d;
        border-radius: 13px;
    }

    .index_ibendos_cards {
        width: 95%;
        height: 540px;
        background-color: #4d4d4d;
        border-radius: 10px;
        margin-bottom: 18px;
    }

    ._index_footer {
        background-color: #292929;
        position: absolute;
        width: 428px;
        height: 78px;
        border-top: solid 1px #5c5c5c;
        left: calc(50% - 428px/2 - 0px);
        bottom: -2px;
    }

    .index_footer {
        color: aliceblue;
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
        text-align: center;
        align-items: center;
        justify-items: center;

    }

    .footer_icon-wellet {
        position: relative;
        width: 40px;
        height: 40px;
        border: #FE7F7F 2px solid;
        border-radius: 10px;
    }

    .footer_icon-wellet img {
        position: absolute;
        left: 25%;
        top: 25%;
    }